<div class="application-pages">
    <!--header-->
    <ng-include src="'/app/views/application/header/ng-template.html'"></ng-include>
    <!--/header-->
    <!--page container-->
    
        <div class="container-fluid detail-page-container">
            <div class="row page-head-row">
                <div class="col-md-2">
                    <h3>My Loan</h3>    
                </div>
                <div class="col-md-8">
<!--
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control"  placeholder="Search your loan here..." >
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>  
                        </span>
                    </div>
-->
                </div>
                <div class="col-md-2">
                    <a href="#" class="btn btn-default" >Back</a>
                </div>
            </div>
            
            <div class="loan-list-container">
                
                <!-- loan list rows-->
                <div class="row loan-list-row" id="first-row">
                    <div class="col-md-2">                    
                        <!--property image-->
                        <div class="prop-panel">
                            <figure class="figure">
                                <a href="loan_1.html">
                                    <img src="/app/assets/images/prop5.jpg" class="figure-img img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
                                </a>
                                <figcaption class="figure-caption text-xs-right">
                                    <article>
                                        <header>
                                            <h3>5M</h3>
                                            <div class="prop-address-panel">
                                                <address>2500 Central Ave</address>
                                                <div class="prop-actions-panel">
                                                    <a href="#" class="lock glyphicon glyphicon-lock"></a>
                                                    <a href="#" class="home glyphicon glyphicon-home"></a>
                                                    <a href="#" class="more glyphicon glyphicon-chevron-down"></a>
                                                </div>    
                                            </div>
                                        </header>
                                    </article>
                                </figcaption>
                            </figure>
                        </div>
                        <!--/property image-->
                    </div>
                    <div class="col-md-10">
                        <!--time line-->
                        <ng-outlet></ng-outlet>
                        <!--/time line-->
                    </div>
                </div>
                <!-- /loan list rows-->

                <!-- form row -->
                <div class="row form-row">
                    <div class="col-md-9">
                        <!--form panel-->
                        <div class="form-panel">
                            <div data-section="no_step">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        Error Information
                                    </div>
                                    <div class="panel-body">
                                        No data found!
                                    </div>
                                </div>
                            </div>
                            <div data-section="section_1">
                                <form role="form" method="get" action="#">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Personal Information
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Password</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputFile">File input</label>
                                                <input type="file" id="exampleInputFile" />
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" /> Check me out</label>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="panel-footer form-actions-panel">
                                                <button type="button" class="btn btn-default">Cancel</button>
                                                <button type="button" class="btn btn-primary" data-section="section_2">Submit</button>
                                                <button type="button" class="btn btn-primary pull-right" data-section="section_2">Next</button>
                                                <button type="button" class="btn btn-disabled pull-right" disabled>Previous</button>
                                            </div>
                                        </div>
                                    </div>    
                                </form>
                            </div>
                        </div>
                        <!--/form panel-->
                    </div>
                    <div class="col-md-3">
                        <!--form panel-->
                        
                        <div class="pending-task-panel">

                        </div>
                        <!--/form panel-->
                    </div>
                </div>
                <!-- /form row -->

            </div>
        </div>

    <!--/page container-->

    <!--footer-->
    <ng-include src="'/app/views/application/footer/ng-template.html'"></ng-include>
    <!--/footer-->
</div>