<!-- loan list rows-->
<div class="row loan-list-row" id="first-row">
    <div class="col-md-2">                    
        <!--property image-->
        <div class="prop-panel">
            <figure class="figure">
                <a href="loan_1.html">
                    <img src="/app/assets/images/prop5.jpg" class="figure-img img-fluid" alt="A generic square placeholder image with rounded corners in a figure.">
                </a>
                <figcaption class="figure-caption text-xs-right">
                    <article>
                        <header>
                            <h3>5M</h3>
                            <div class="prop-address-panel">
                                <address>2400 Central Ave</address>
                                <div class="prop-actions-panel">
                                    <a href="#" class="lock glyphicon glyphicon-lock"></a>
                                    <a href="#" class="home glyphicon glyphicon-home"></a>
                                    <a href="#" class="more glyphicon glyphicon-chevron-down"></a>
                                </div>    
                            </div>
                        </header>
                    </article>
                </figcaption>
            </figure>
        </div>
        <!--/property image-->
    </div>
    <div class="col-md-10">
        <!--time line-->
        <div class="timeline-container">
            <div class="timeline-circle level-1 user-info pending" data-section="section_1">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_1
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 user-info completed" data-section="section_1_1" data-parent-section="section_1">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_1_1
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-3 user-info pending" data-section="section_1_1_1"  data-parent-section="section_1_1">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_1_1_1
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-3 user-info pending" data-section="section_1_1_2" data-parent-section="section_1_1">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_1_1_2
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-3 user-info pending" data-section="section_1_1_3" data-parent-section="section_1_1">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_1_1_3
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 user-info pending" data-section="section_1_2" data-parent-section="section_1">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_1_2
                </a>
                <span>Status of 04/22/2016</span>
            </div>

            <div class="timeline-circle level-1 user-info completed" data-section="section_2">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_2
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 user-info pending" data-section="section_2_1" data-parent-section="section_2">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_2_1
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 user-info completed" data-section="section_2_2" data-parent-section="section_2">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_2_2
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 user-info pending" data-section="section_2_3" data-parent-section="section_2">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_2_3
                </a>
                <span>Status of 04/22/2016</span>
            </div>

            <div class="timeline-circle level-1 user-info completed" data-section="section_3">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_3
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 user-info pending" data-section="section_3_1" data-parent-section="section_3">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_3_1
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 user-info pending" data-section="section_3_2" data-parent-section="section_3">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_3_2
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 user-info pending" data-section="section_3_3" data-parent-section="section_3">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_3_3
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 system-info pending" data-section="section_3_4" data-parent-section="section_3">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_3_4
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            
            <div class="timeline-circle level-1 user-info pending" data-section="section_4">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_4
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 user-info pending" data-section="section_4_1" data-parent-section="section_4">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_4_1
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 user-info pending" data-section="section_4_2" data-parent-section="section_4">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_4_2
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            
            <div class="timeline-circle level-1 system-info pending" data-section="section_5">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_5
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 system-info pending" data-section="section_5_1" data-parent-section="section_5">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_5_1
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 system-info pending" data-section="section_5_2" data-parent-section="section_5">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_5_2
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 system-info pending" data-section="section_5_3"  data-parent-section="section_5">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_5_3
                </a>
                <span>Status of 04/22/2016</span>
            </div>

            <div class="timeline-circle level-1 system-info pending" data-section="section_6">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_6
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="timeline-circle level-2 system-info pending" data-section="section_6_1" data-parent-section="section_6">
                <span>
                    <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
                    <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>
                </span>
                <a href="#">
                    section_6_1
                </a>
                <span>Status of 04/22/2016</span>
            </div>
            <div class="horizontal-ruler"></div>
        </div>
        <!--/time line-->
    </div>
</div>
<!-- /loan list rows-->

<script type="text/javascript">

$(document).ready(function() {
    $('.timeline-circle').on('click', function() {
        var $timelineContainer = $('.timeline-container'),
            topStackOrder = $('.timeline-circle').length,
            currentSection = $(this).data('section'),
            aisdeMargin = 0;

        // stack current circle at top and full opacity
        $(this).removeClass('current next previous').addClass('current').css({'zIndex': topStackOrder, 'opacity': 1});
        
        // reseting/ hiding all level 2 and 3 circles
        if ($(this).hasClass('level-1')) {
            $('.level-2, .level-3').hide().fadeOut();
        }

        // reduce all next circles stack order and opacity gradually
        $(this).nextAll().each(function(i, elem) {
            $(elem).removeClass('current next previous').addClass('next').css({'zIndex': ((topStackOrder-1)-i), 'opacity': topStackOrder/(topStackOrder+(i*4) )});
        });
        
        // reduce all previous circles stack order and opacity gradually
        $(this).prevAll().each(function(i, elem) {
            $(elem).removeClass('current next previous').addClass('previous').css({'zIndex': ((topStackOrder-1)-i), 'opacity': topStackOrder/(topStackOrder+(i*4) )});
        });

        // show all child circles which has current parent section data
        $(".timeline-container [data-parent-section='"+ currentSection +"']").each(function(i, elem) {
            $(elem).css('display', 'inline-block').fadeIn().removeClass('current next previous').addClass('currentChildren');
        });

        // adjust margin on next and previous circles when scroll appears on container
        if($timelineContainer.HasScrollBar()) {
            aisdeMargin =( ($timelineContainer.get(0).scrollWidth - $timelineContainer.outerWidth(true))/ $('.timeline-circle:visible').length ) + 100;            
            $('.previous').css('marginRight', '-'+aisdeMargin+'px');
            //hack :not(":first")
            $('.next').css('marginLeft', '-'+aisdeMargin+'px');
            // $('.next:not(":first")').css('marginLeft', '-'+aisdeMargin+'px');
        }

        // $('.previous, .next').css({'marginLeft': '0', 'marginRight': '0'});

        //form show/hide
        $('div.form-panel > div').hide();
        if (!currentSection) {
            currentSection = "no_step";
            $('.pending-task-panel').hide();
        } else {
            $('.pending-task-panel').show();
        }
        $('.form-row').show();
        $('div.form-panel > div[data-section="'+ currentSection +'"]').show();
    });
    
    // method to find has scroll on elem
    $.fn.HasScrollBar = function() {
        //note: clientHeight= height of holder
        //scrollHeight= we have content till this height
        var _elm = $(this)[0];
        var _hasScrollBar = false; 
        if ((_elm.clientHeight < _elm.scrollHeight) || (_elm.clientWidth < _elm.scrollWidth)) {
            _hasScrollBar = true;
        }
        return _hasScrollBar;
    }
});
</script>