<div class="application-pages">
    <!--header-->
    <ng-include src="'/app/views/application/header/ng-template.html'"></ng-include>
    <!--/header-->

    <!--page container-->

        <div class="container-fluid home-page-container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Welcome to Mortgage Application</h1>
                    <a class="home-btn" ng-link="['LoanDetail']"><i class="glyphicon glyphicon-home"></i>APPLY LOAN</a>
                    <a class="home-btn" ng-link="['LoanSummary']"><i class="glyphicon glyphicon-stats"></i>LOAN STATUS</a>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Loan status graph place holder</div>
                        <div class="panel-body"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Loan status table place holder</div>
                        <div class="panel-body"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Task to-do place holder</div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>

    <!--/page container-->

    <!--footer-->
    <ng-include src="'/app/views/application/footer/ng-template.html'"></ng-include>
    <!--/footer-->
</div>