$image_url: '/app/assets/images/';
$padding-x: 10px;

$white: #fff;
$light-grey: #ccc;
$jpmc-blue: #8cadd5;
$jpmc-grey: #666;
$jpmc-brown: #54301a;

/*$font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;*/
$font-family: Gill Sans / Gill Sans MT, sans-serif;;